@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #700000;
      padding: 15px 90px;
      position: relative;
  }
  
  .brand-title {
      font-size: 1.5rem;
      color: rgb(0, 0, 0);
  }
  .brand-title img{
      width: 20%;
  }
  
  .navbar-links ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
  }
  
  .navbar-links li {
      margin-left: 1rem;
  }
  
  .navbar-links a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: small;
      padding: 3px 25px;
      border-radius: 50px;
      font-weight: 400;
  }
  .navbar-links img{
      display: none;
  }
  .navbar-links .buy{
          color: rgb(255, 255, 255);
          text-decoration: none;
          background-color: #FFAB49;
          font-size: small;
          padding: 3px 25px;
          border-radius: 50px;
  }
  .navbar-links .nobuy{
      color: rgb(255, 255, 255);
      text-decoration: none;
      background-color: #930000;
      font-size: small;
      padding: 3px 25px;
      border-radius: 50px;
  }
  
  .toggle-button {
      position: absolute;
      top: 1.5rem;
      right: 4rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
      margin-right: -15px;
  }
  
.navbar-links .close{
    display: none;
}
  .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
  }
  .mobile{
      display: none;
  }
  
 
@media (max-width: 768px) {
    .mobile{
        display: block;
        line-height: 30px;
    }
    .desk{
        display: none;
    }
    .navbar{
        padding: 15px 40px;
        position: fixed;
        z-index: 11;
    }
    .toggle-button {
        display: flex;
        margin-top: 4px;
    }
    .brand-title img{
        width: 40%;
        margin-top: 2px;
    }

    .navbar-links {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .links{
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        padding-top: 2rem;
        text-align: left;
        z-index: 10;
        animation: nav-animation .4s ease-in-out 1;
        background-color: #fff;
    }
    @keyframes nav-animation {
        0%{transform: translateX(250px);}
        100%{transform: translateX(0px);}
    }
    .close-animation{
        animation: close-animation1 .4s ease-in-out 1;
    }
    @keyframes close-animation1 {
        0%{transform: translateX(0px);}
        100%{transform: translateX(250px);}
    }
    .links button{
        height:25px;
        width:25px;
        margin-left: 80%;
        background: #fff;
        border:none;
    }
    .navbar-links img{
        display: block;
        width: 20px;
        
    }
    .navbar-links .close{
        display: block;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links li {
        text-align: left;
        margin: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.7);
        transition:.3s;
        backdrop-filter: blur(10px); /* Applies blur effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari support */
      background: rgba(0, 0, 0, 0.1); /* Semi-transparent overlay */
    }
    .navbar-links .buy{
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: none;
        outline: 0px solid black;
        
    background-color: white;
        font-size: medium;
        padding: 3px 25px;
        border-radius: 50px;
        font-weight: 500;
}
.navbar-links .nobuy{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    outline: 0px solid black;
    font-size: medium;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 500;
}
.home .frame h2{
    font-size: 25px;
    margin-top: 90px;
}
.navbar-links .nobuy:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.brand-title a{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
hr{
    margin: 0;
    padding: 0;
    opacity: 0.3;
}
.main .section{
    padding: 0px 130px;
    
}
.section img{
    width:55%;
}
.img{
    text-align: center;
}
.text p{
    margin-top: 10px;
}
.text{
    margin-bottom: 40px;
}
@media (max-width: 768px){
  
.main .section{
    padding: 090px 30px;
    padding-bottom: 0px;
    
}
.section img{
    width:90%;
}
.img{
    text-align: center;
}
.text p{
    margin-top: 10px;
}
.text{
    margin-bottom: 40px;
}  
}
