@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

  #mobile-viwe{
    display:block;
    width:100%;
    margin:10px auto;
    height:310px;
    background:url("/img/21374002-9af4-4c47-8938-bb1ee2e67842.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:30px;
    padding:50px ;
  }
  #mobile-viwe #text{
    display:flex;
    flex-direction: column;
    width:90%;
    height:145px;
  }
  #mobile-viwe #text h1{
    font-size: calc(100% + .5vw);
    animation: smooth 3.5s ease-in-out 1;
    display: block;
    margin-bottom: 10px;
  }
  #mobile-viwe #text p{
    font-size: calc(70% + .5vw);
    margin-top: 5px;
    animation: smooth 3.5s ease-in-out 1;
    display: block;
  }
  #mobile-viwe #button-div{
    width:100%;
    height:40px;
    margin-top: 15px;
  }
  #mobile-viwe #button-div div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width:170px;
  border-radius: 30px;
  border:none;
  background-color: black;
  color: #fff;
  text-decoration: none;
  }
  #mobile-viwe #button-div div img{
    width:30px;
    background: #ffab49;
    border-radius: 30px;
    margin-right: 5px;
  }
  #mobile-viwe #button-div div p{
    font-size: 17px;
    margin-left: 16px;
    font-weight: 600;
  }
 
  @keyframes smooth {
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
  }
  @media (max-width: 768px) {
    #mobile-viwe{
        padding:35px;
        height:270px;
      }
      #mobile-viwe #button-div{
        margin-bottom: 0px;
        height:35px;
        margin-top: 5px;
      }
      #mobile-viwe #text{
        width:100%;
        height:165px;
      }
      #mobile-viwe #text h1{
        font-size: 20px;
        margin-bottom: 0px;
    }
    #mobile-viwe #text p{
        font-size: calc(60% + 1vw);
    }
    #mobile-viwe #button-div div{
        width:150px;
        }
    #mobile-viwe #button-div div img{
        width:25px;
    }
    #mobile-viwe #button-div div p{
        font-size: 15px;
    }
    }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #700000;
    padding: 15px 90px;
    position: relative;
}

.brand-title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.brand-title img{
    width: 20%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 400;
}
.navbar-links img{
    display: none;
}
.navbar-links .close{
    display: none;
}
.navbar-links .buy{
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: #FFAB49;
        font-size: small;
        padding: 3px 25px;
        border-radius: 50px;
}
.navbar-links .nobuy{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #930000;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;
}
.navbar-links .track{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #930000;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;

}
.navbar-links .nobuy:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  .brand-title a{
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: -15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.mobile{
    display: none;
}
.links button{
    display: none;
}
@media (max-width: 768px) {
    .mobile{
        display: block;
        line-height: 30px;
    }
    .desk{
        display: none;
    }
    .navbar{
        padding: 15px 40px;
        position: fixed;
        z-index: 11;
    }
    .toggle-button {
        display: flex;
        margin-top: 4px;
    }
    .brand-title img{
        width: 40%;
        margin-top: 2px;
    }

    .navbar-links {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .links{
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        padding-top: 2rem;
        text-align: left;
        z-index: 10;
        animation: nav-animation .4s ease-in-out 1;
        background-color: #fff;
    }
    @keyframes nav-animation {
        0%{transform: translateX(250px);}
        100%{transform: translateX(0px);}
    }
    .close-animation{
        animation: close-animation1 .4s ease-in-out 1;
    }
    @keyframes close-animation1 {
        0%{transform: translateX(0px);}
        100%{transform: translateX(250px);}
    }
    .links button{
        display: block;
        height:25px;
        width:25px;
        margin-left: 80%;
        background: #fff;
        border:none;
    }
    .navbar-links img{
        display: block;
        width: 20px;
        
    }
    .navbar-links .close{
        display: block;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links li {
        text-align: left;
        margin: 1rem 0;
    }
    .navbar-links.active {
        display: flex;
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.7);
        transition:.3s;
        backdrop-filter: blur(10px); /* Applies blur effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari support */
      background: rgba(0, 0, 0, 0.1); /* Semi-transparent overlay */
      
    }
    .navbar-links .buy{
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: none;
        outline: 0px solid black;
        
    background-color: white;
        font-size: medium;
        padding: 3px 25px;
        border-radius: 50px;
        font-weight: 500;
}
.navbar-links .nobuy{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    outline: 0px solid black;
    font-size: medium;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 500;
}
.navbar-links .track{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #930000;
    margin-left: 20px;
    font-size: 16px;
    font-weight: lighter;
    padding: 9px 25px;
    border-radius: 50px;
    font-weight: 500;
}

.home .frame h2{
    font-size: 25px;
    margin-top: 90px;
}
}

hr{
    margin: 0;
    padding: 0;
    opacity: 0.3;
}
.home{
    margin-top: 50px;
    height: 100vh;
    padding: 30px 250px;
}
.home .frame{
    text-align: center;
}
.home .frame p{
    font-size: 19px;
}
.home .imgframe{
    margin-top: 40px;
    padding: 20px 40px;
    width: 100%;
    height: auto;
    background-color: #F4F4F4;
    border-radius: 25px;
}
.imgframe img{
    width: 40%;
    height: auto;
}
.buynowbtn{
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    padding-right: 10px;
    background-color: #700000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
}

.butbtncontent{
    width: 90%;
    text-align: left;
    font-weight: 500;
    color: white;
}

.arrowshape img{
    width: 20px;
    height: 20px;
    color: #f1f1f1;
    
}
.arrowshape{
    width: 30px;
    height: 30px;
    background-color: #FFAB49;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
@media (max-width: 768px){
    .home{
    margin-top: 50px;
    height: 100%;
    padding: 30px 30px;
}
.home .frame{
    text-align: left;
}

.home .frame p{
    font-size: 17px;
}

.home .imgframe{
    margin-top: 40px;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    height: auto;
    background-color: #F4F4F4;
    border-radius: 25px;
}
.imgframe img{
    width: 100%;
    height: auto;
}
.buynowbtn{
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    color: rgb(190, 153, 153);
    padding: 0px 34px 0 30px;
    padding-right: 10px;
    background-color: #700000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.butbtncontent{
    width: 90%;
    text-align: left;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.arrowshape img{
    width: 25px;
    height: 25px;
    color: #f1f1f1;
    
}
.arrowshape{
    width: 35px;
    height: 35px;
    background-color: #FFAB49;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    touch-action: pan-y;
}

.mySlides {
    display: none;
}
@keyframes slide{
    0%{transform: translateX(0px);}
    100%{transform: translateX(700px);}
}
@keyframes slide1{
    0%{transform: translateX(0px);}
    100%{transform: translateX(-700px);}
}
    @keyframes slide3{
        0%{transform: translateX(700px);}
        100%{transform: translateX(0px);}
    }
    @keyframes slide4{
        0%{transform: translateX(-700px);}
        100%{transform: translateX(0px);}
}
.mySlides img {
    border-radius: 15px;
}

.dot-container {
    text-align: center;
    padding-top: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}











.feature{
    margin-top: 60px;
}
.feature .frame{
    margin: 30px 140px;
}
.feature .row{
    display: flex;
}
.row h2{
    font-weight: 600;
}

.row .col{
    width: 50%;
    height: 100%;
    margin-right: 10px;
}
.row .col2{
    width: 50%;
    height: 100%;
    margin-left: 10px;
}
.f-item{
    padding: 20px 60px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}
.f-item .fetureh2{
    margin-bottom: 15px;
}
.f-item .fetureh22{
    margin-bottom: 12px;
}
.col21{
    padding: 28px 60px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}
.col11{
    padding: 55px 60px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}






@media (max-width: 768px){

    .modal-content {
        margin: auto;
        display: block;
        padding-top: 25%;
        width: 75%; /* Adjust as needed */
        max-width: 800px; /* Adjust as needed */
    }




    .feature{
    margin-top: 60px;
}
.feature .frame{
    margin: 30px 30px;
}
.feature .row{
    display: block;
}
.row h2{
    font-weight: 600;
}
.row .col{
    width: 100%;
    height: 100%;
    margin-right: 0px;
}
.row .col2{
    width: 100%;
    height: 100%;
    margin-left: 0px;
}
.f-item{
    padding: 20px 30px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}
.col21{
    padding: 33px 40px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}
.col11{
    padding: 33px 40px;
    background-color: #F4F4F4;
    border-radius: 25px;
    margin-top: 15px;
}
.f-item .fetureh2{
    margin-bottom: 15px;
}
.f-item .fetureh22{
    margin-bottom: 15px;
}
}





.type{
    
    width: 100%; /* Set your desired width */
    height: 
    668px; /* Set your desired height */
    background-image: url('../img/bg-1.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 30px 100px;
    margin-top: 70px;
}
.type .section{
    padding: 30px 100px;
}
.type h1{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: -10px;
}
.type .maintitle{
    font-weight: 600;
    font-size: 40px;

}
.type p{
    font-size: 17px;
}
.typeeff{
    height: 60px;
}


@media (max-width: 768px){
    .type{
    
        width: 100%; /* Set your desired width */
        height: 90vh; /* Set your desired height */
        background-image: url('../img/bg-1.jfif');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        padding: 20px 20px;
    }
    .type .section{
        padding: 30px 30px;
    }
    .type h1{
        font-weight: 300;
        font-size: 30px;
    }
    .type .maintitle{
        font-weight: 600;
        font-size: 40px;
    
    }
    .typeeff{
        height: 60px;
    }
    .type p{
        font-size: 17px;
    }
}







.about{
    margin-top: 60px;
}
.about .frame{
    margin: 30px 140px;
}
.about h1{
    margin-bottom: 15px;
}
.about p{
    font-size: 17px;
    margin-top: 12px;
}


@media (max-width: 768px){
    .about{
    margin-top: 60px;
}
.about .frame{
    margin: 30px 30px;
}
.about h1{
    margin-bottom: 15px;
}
.about p{
    font-size: 17px;
    margin-top: 12px;
}
}






.benefits{
    margin-top: 60px;
}
.benefits .frame{
    margin: 30px 140px;
}
.ben-content{
    display: flex;
    background-color: #F4F4F4;
    padding: 50px 50px;
    margin-top: 15px;
    border-radius: 25px;
}
.bcol1{
    width: 50%;
}
.bcol2{
    width: 50%;
}
.ben-content li{
    font-size: 17px;
    line-height: 30px;
}

@media (max-width: 768px){
    .benefits{
        margin-top: 60px;
    }
    .benefits .frame{
        margin: 30px 30px;
    }
    .ben-content{
        display: block;
        background-color: #F4F4F4;
        padding: 50px 50px;
        margin-top: 15px;
        border-radius: 25px;
    }
    .bcol1{
        width: 100%;
    }
    .bcol2{
        width: 100%;
    }
    .ben-content li{
        font-size: 17px;
        line-height: 30px;
    }
}




.footer{
    margin-top: 60px;
    background-color: #700000;
    
}
.footer .frame{
    padding: 60px 160px;
    text-align: left;
    color: white;
}

@media (max-width: 768px){
    .footer{
        margin-top: 60px;
        background-color: #700000;
        
    }
    .footer .frame{
        padding: 60px 40px;
        text-align: left;
        color: white;
    }
}
.social-icons {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;
}

.icon.facebook {
    background-image: url('../img/fb.svg');
}

.icon.whatsapp {
    background-image: url('../img/wa.svg');
}

.icon.instagram {
    background-image: url('../img/insta.svg');
}

.icon.linkedin {
    background-image: url('../img/yt.svg');
}



/* Popup Styles */
.popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 20px;
    z-index: 1000;
    display: none; /* Hidden by default */
    animation: slideUp 0.5s ease-in-out;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.5;
    gap: 20px;
}

.popup-content p {
    margin: 0;
    flex: 1;
}

.popup-content a {
    color: #f0c14b;
    text-decoration: underline;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #f0c14b;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.popup-content button:hover {
    background-color: #e2a018;
}
@media (max-width: 768px){
    .popup-content {
        display: block;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        font-size: 1rem;
        line-height: 1.5;
        gap: 20px;
    }
    .popup-content button {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 10px 20px;
        background-color: #f0c14b;
        border: none;
        cursor: pointer;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
}
