@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #700000;
    padding: 15px 90px;
    position: relative;
}

.brand-title {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}
.brand-title img{
    width: 20%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 1rem;
}

.navbar-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 400;
}
.navbar-links .buy{
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: #FFAB49;
        font-size: small;
        padding: 3px 25px;
        border-radius: 50px;
}
.navbar-links .nobuy{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #930000;
    font-size: small;
    padding: 3px 25px;
    border-radius: 50px;
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: -15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.mobile{
    display: none;
}

@media (max-width: 768px) {
    .mobile{
        display: block;
        line-height: 30px;
    }
    .desk{
        display: none;
    }
    .navbar{
        padding: 15px 40px;
        position: fixed;
        z-index: 11;
    }
    .toggle-button {
        display: flex;
        margin-top: 4px;
    }
    .brand-title img{
        width: 40%;
        margin-top: 2px;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 250px;
        padding-top: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        text-align: left;
        box-shadow: 2px 2px black;
        z-index: 10;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        padding: 0;
    }

    .navbar-links li {
        text-align: left;
        margin: 1rem 0;
    }

    .navbar-links.active {
        display: flex;
        transform: translateX(0);
        background-color: white;
    }
    .navbar-links .buy{
        color: rgb(0, 0, 0);
        text-decoration: none;
        background-color: ;
        outline: 0px solid black;
        
    background-color: white;
        font-size: medium;
        padding: 3px 25px;
        border-radius: 50px;
        font-weight: 500;
}
.navbar-links .nobuy{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    outline: 0px solid black;
    font-size: medium;
    padding: 3px 25px;
    border-radius: 50px;
    font-weight: 500;
}
}

hr{
    margin: 0;
    padding: 0;
    opacity: 0.3;
}




.home{
    padding: 50px 180px;
}
.home .section{
        display: flex;
    
}
.col2{
    width: 50%;
}

.col1{
    width: 50%;
}
.mobile{
    display: none;
}
.home .col1 .data{
    opacity: 0.7;
}
.home .section .col2 img{
    width: 10%;
}
.linee{
    margin: 3px 0px;
}
.data{
    margin-top: -7px;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    touch-action: pan-y;
}

.mySlides {
    display: none;
    
    text-align: center;
}

.mySlides img {
    border-radius: 15px;
    width: 70%;
}

.dot-container {
    text-align: center;
    padding-top: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active, .dot:hover {
    background-color: #717171;
}

span{
    color: #828282;
    font-size: 15px;
}
.price{
    font-size: 17px;
    font-weight: 600;
}

.quantity{
    margin-top: 20px;
    font-size: 14px;
    color: #828282;
    margin-bottom: 7px;
}
.quantity-container {
    display: flex;
    outline: 1px solid black;
    width: 130px;
    padding: 5px 20px;
    border-radius: 50px;
}

.btn {
    background-color: #ffffff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 24px;
    user-select: none;
    color: black;
}


#quantity {
    width: 50px;
    text-align: center;
    font-size: 20px;
    margin: 0 0px;
    border: 0px solid white;
}   
.col2 h1{
    font-weight: 500;
}




.buynowbtn{
    margin-top: 20px;
    width: 100%;
    border-radius: 25px;
    color: white;
    padding: 10px 30px;
    padding-right: 10px;
    background-color: #700000;
    display: flex;
}

.buynowbtn img{
    width: 10%;
    height: auto;
    float: right;
    background-color: #930000;
    border-radius: 50px;
    padding: 3px 3px;
}
.butbtncontent{
    width: 50%;
    text-align: left;
}
.arrowshape{
    float: left;
    width: 50%;
}





/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}






@media (max-width: 768px){
    .home{
        padding: 30px 30px;
        margin-top: 90px;
    }
    .home .section{
            display: block;
            align-items: center;
        
    }
    .col2{
        width: 100%;
    }
    .col1{
        width: 100%;
        line-height: 30px;
        padding: 0;
        
    }
    .slideshow-container {
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        touch-action: pan-y;
    }
    .mySlides{
        text-align: center;
    }
    .mySlides img {
        border-radius: 15px;
        width: 80%;
    }

    
    .mobile{
        display: block;
        line-height: 30px;
    }
    .desk{
        display: none;
    }
    .home .col1 .data{
        opacity: 0.7;
    }
    .home .col3 .data{
        opacity: 0.7;
    }
    .home .section .col2 img{
        width: 15%;
        margin-bottom: 0px;
    }
    .dot{
        margin-bottom: 25px;
    }
    /* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
}

/* Close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
}





.descri{
    padding: 50px 180px;
}
.descri .descriptio h1{
    padding-top: 15px;
    margin: 0;
}
.descri .descriptio .discon{
    padding-bottom: 15px;
    margin: 0;
    line-height: 23px;
}
.descri .details{
    display: flex;
    padding: 0px 0px;
}
.dtitle{
    margin-bottom: 7px;
}
.dcol1{
    width: 12%;
}
.dcol2{
    width: 20%;
}
.dcol1 p{
    font-weight: 600;
    padding: 0;
    padding-bottom: 5px;
}
.dcol2 p{
    font-weight: 400;
    padding: 0;
    color: #A9A9A9;
    padding-bottom: 5px;
}

@media (max-width: 768px){
    
.descri{
    padding: 30px 30px;
}
.descri .descriptio h1{
    padding-top: 15px;
    margin: 0;
    margin-bottom: 7px;
}
.descri .descriptio .discon{
    padding-bottom: 15px;
    margin: 0;
    line-height: 23px;
}
.descri .details{
    display: flex;
    padding: 0px 0px;
}
.dcol1{
    width: 30%;
}
.dcol2{
    width: 50%;
}
.dcol1 p{
    font-weight: 600;
    padding: 0;
    padding-bottom: 5px;
}
.dcol2 p{
    font-weight: 400;
    padding: 0;
    color: #A9A9A9;
    padding-bottom: 5px;
}

}